@use 'sass:color';
$sidebarColor: rgb(79, 86, 99);
$white: #ffffff;

body {
  margin: 0;
  height: 100%;
}

.page-container {
  position: relative;
  top: 0;
  min-height: 100vh;
  display: flex;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  padding: 20px;
  background-color: color.adjust($sidebarColor, $lightness: 75%);
  width: 100%;
  flex-grow: 1;

  .main-header {
    display: flex;
    height: 8rem;
  }
}

.sidebar {
  width: 15rem;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $sidebarColor;
  padding-right: 1rem;

  a {
    text-decoration: none;
  }

  &__logo {
    display: flex;
    justify-content: center;
    height: 5rem;

    img {
      width: 3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .navigation {
    flex: 1;
    font-size: 1.5rem;
    position: relative;
    scrollbar-width: none;

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      position: relative;
      margin: 0;
    }

    &__link {
      position: relative;
      line-height: 1;
      cursor: pointer;
      color: $white;
      width: 100%;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      padding: 1rem 0.5rem;

      &:hover,
      &:focus,
      &--active {
        color: $white;
      }

      &--active {
        font-weight: 500;
        background-color: color.adjust($sidebarColor, $lightness: 10%);
      }

      &:focus {
        outline: none;
      }
    }

    &__text {
      margin-left: 1rem;
      text-decoration: none;
    }

    &__icon {
      display: block;

      svg {
        display: block;
      }
    }
  }
}