@use 'sass:color';
$white: #ffffff;
$textColor: #333333;
$borderColor: #aca899;

.cv-container {
    min-width: 80rem;
    max-width: 80rem;
    flex-grow: 1;
    align-self: center;
    background-color: $white;
    font-family: 'Verdana', sans-serif;
    color: color.adjust($textColor, $lightness: -10%);

    .basic-info {
        display: flex;
        justify-content: space-between;
        height: 13rem;
        padding: 3rem 3rem 1rem 3rem;
        background-image: url('/assets/background.jpg');
        background-size: cover;
        background-position: center;
        border-bottom: 1px solid grey;
        border-width: 1px;
        border-color: $borderColor;

        .name-container {
            display: flex;
            flex-direction: column;
            font-size: 3.5rem;
            line-height: 4rem;
            color: rgb(27, 27, 27);
            font-weight: 500;
            font-style: normal;

            .occupation {
                font-size: 1rem;
                color: color.adjust($textColor, $lightness: 10%)
            }
        }

        &__other-info {
            display: flex;

            .personal-pic img {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
            }

            .socials {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 2rem;
                margin-left: 1rem;
                border-left: 1px solid grey;
                border-width: 1px;
                border-color: $borderColor;

                img {
                    cursor: pointer;
                    width: 3.6rem;
                }
            }
        }
    }

    .work-experience {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        height: fit-content;
        padding: 2rem 3rem;
        border-bottom: 1px solid grey;
        border-width: 1px;
        border-color: $borderColor;

        &__header {
            margin: 0;
        }

        .work-experience__item {

            &__label {
                display: flex;
                align-items: center;

                .work-label {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding-left: 0.5rem;
                }
            }

            .expand_button {
                width: 2rem;
                height: 2rem;
                padding: 0;
                margin: 0;
                outline: 0;
                border-radius: .6rem;
                border: .1rem solid color.adjust($borderColor, $lightness: 25%);
                background-color: transparent;
                line-height: 2rem;
                cursor: pointer;
                transition: all .3s ease;
            }

            .expanded-info {
                padding-left: 2.4rem;

                &__projects {

                    &--item {
                        margin-bottom: 0.5rem;

                        .project__name {
                            font-weight: bold;
                        }

                        .project__description {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}